# Manually copied 11AM 4/11/2026

[defaults]
inventory = ~/ansible/inventory/aws_ec2.yml
private_key_file = ~/.ssh/ansible_aws
remote_user = ubuntu
host_key_checking = False
timeout = 60
[inventory]
# Ensure the aws_ec2 plugin is enabled
enable_plugins = amazon.aws.aws_ec2, host_list, script, yaml, ini, auto
